<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Setting for the H2 Database -->
        <!-- ======================================================================================= -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- ======================================================================================= -->

        <!-- Setting for the PostgreSQL Database -->
        <!-- ======================================================================================= -->
        <!-- <property name="connection.driver_class">org.postgresql.Driver</property> -->
        <!-- <property name="connection.url">jdbc:postgresql://localhost:5432/test</property> -->
        <!-- <property name="connection.username">postgres</property> -->
        <!-- <property name="connection.password">admin</property> -->
        <!-- <property name="connection.pool_size">1</property> -->
        <!-- <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
        <!-- ======================================================================================= -->

        <!-- Setting for the Oracle Database -->
        <!-- ======================================================================================= -->
        <!-- <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->
        <!-- <property name="connection.url">jdbc:oracle:thin:@192.168.4.251:1521:test</property> -->
        <!-- <property name="connection.username">oracle</property> -->
        <!-- <property name="connection.password">admin</property> -->
        <!-- <property name="connection.pool_size">1</property> -->
        <!-- <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
        <!-- ======================================================================================= -->

        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <!-- Setting for Hibernate Search -->
        <!-- <property name="hibernate.search.default.directory_provider" value="filesystem" /> -->
        <!-- <property name="hibernate.search.default.indexBase" value="lucene/indexes" /> -->

        <mapping resource="Event.hbm.xml" />
    </session-factory>
</hibernate-configuration>
